@charset "utf-8";

.bs-docs-nav {
	background-color: #5CB85C !important;
	border-color: #4CAE4C !important;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus,
.bs-docs-nav .navbar-nav > .active > a, .bs-docs-nav .navbar-nav > .active > a:hover, .bs-docs-nav .navbar-nav > .active > a:visited, .bs-docs-nav .navbar-nav > .active > a:active {
	background-color: #4c886c !important;
}
